	.background {background-color: black;}
	.box {background-color: Yellow; color: Black; text-align: center;}
	.big {font-size: 50px;}
	.small {font-size: 10px}
	.yellow {color: yellow;}
	.red {color: red;}
	.container {position: absolute;top:100px ;left: 20px;}
	.text-block {position: absolute;bottom: 50px;right: 63px;color: white;background-color: grey; padding-left: 20px;padding-right: 20px;}